<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Neko Tutorial - {{page.title}}</title>
		<link href="style/main.css" media="all" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<div id="main">
			<div id="header">
				<h1>Neko Tutorial</h1>
				<div id="nav">
				</div>	
			</div>
			<div id="body">
				<h2>{{page.title}}</h2>
				{{content}}
			</div>
			<div id="footer">
				<a href="http://github.com/presidentbeef/neko_tutoral/">Source</a>
				<a href="http://github.com/presidentbeef/neko_tutoral/issues">Suggestions</a>
				<a href="http://www.presidentbeef.com/">Beef</a>
				<br>
				<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/us/88x31.png" /></a>
			</div>
		</div>
	</body>
</html>

