<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Neko Tutorial - {{page.title}}</title>
		<link href="style/main.css" media="all" rel="stylesheet" type="text/css" />
		<meta name="keywords" content="neko,tutorial,nekovm" />
		<meta name="description" content="A tutorial for the Neko programming language." />
		<script type="text/javascript" src="http://www.google.com/jsapi"></script>
		<script type="text/javascript">google.load("elements", "1", {packages: "transliteration"});</script>
		<script type="text/javascript" src="http://www.google.com/coop/cse/t13n?form=cse-search-box&t13n_langs=en"></script>
		<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&lang=en"></script>
	</head>

	<body>
		<div id="main">
			<div id="header">
				<h1><a href="index.html">Tutorial</a>/{{page.title}}</h1>
				<div id="nav">
				</div>	
			</div>
			<div id="body">
				{{content}}
			</div>
			<div id="footer">
				<a href="http://github.com/presidentbeef/neko_tutorial/">Contribute</a>
				<a href="http://github.com/presidentbeef/neko_tutorial/issues">Suggestions</a>
				<br><br>
				<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/us/88x31.png" /></a>
			</div>
		</div>
	</body>
</html>

